<div class="xl:w-1/4 md:w-1/2 p-4">
  <div class="bg-gray-100 p-6 rounded-lg">
    <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://www.itl.cat/pngfile/big/95-958543_create-production-docker-images-docker-cloud.png" alt="content">
    <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font">DOCKER</h3>
    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Docker Exam 1 - 3rd June 2020</h2>
    <p class="leading-relaxed text-base">Exam Time: 5:30 PM - 7:30PM</p>
    <!-- <a href="/questions" class="btn btn-secondary mt-3">Start Exam</a> -->
    <button type="button" class="btn btn-secondary mt-3" data-toggle="modal" data-target="#exampleModal" data-whatever="Docker Exam 1 - 3rd June 2020">Start Exam</button>
  </div>
</div>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rules for</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li class="list-unstyled">You should follow all the rules described below. Not following the rule may result in you getting banned from the portal.</li>
          <ul class="rules-model">
            <li>It is best to perform the exam on a desktop. Issues might occur if using a mobile device.</li>
          </ul>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/questions" class="btn btn-primary">Next</a>
      </div>
    </div>
  </div>
</div>
