<%- include("partials/header") -%>
<div class="w-50 mx-auto">
  <form method="post" action="/addPracticeLab">
    <div class="form-group">
      <label for="catagory">Catagory</label>
      <input type="text" class="form-control" id="catagory" name="catagory" placeholder="KUBERNETES/DOCKER...">
    </div>
    <div class="form-group">
      <label for="labName">Lab Name</label>
      <input type="text" class="form-control" id="labName" name="labName" placeholder="Minikube..">
    </div>
    <div class="form-group">
      <label for="katacodaUsername">Katacoda Username</label>
      <input type="text" class="form-control" id="katacodaUsername" name="katacodaUsername" placeholder="rhythmbhiwani">
    </div>
    <div class="form-group">
      <label for="thumbnailUrl">Thumbnail Url</label>
      <input type="text" class="form-control" id="thumbnailUrl" name="thumbnailUrl" placeholder="Thumbnail Image Url">
    </div>
    <div class="form-group">
      <label for="katacodaScenarioName">katacoda Scenario Name</label>
      <input type="text" class="form-control" id="katacodaScenarioName" name="katacodaScenarioName" placeholder="hello-world">
    </div>
    <div class="form-group">
      <label for="labDescription">Lab Description</label>
      <textarea class="form-control" id="labDescription" name="labDescription" rows="3"></textarea>
    </div>
    <div class="form-group">
      <input class="btn btn-success" type="submit" value="Submit">
    </div>
  </form>
</div>
<%- include("partials/footerbar") -%>
<%- include("partials/footer") -%>
