<%- include("partials/header") -%>
<script defer type="text/javascript">
  document.getElementsByTagName("body")[0].classList.remove("d-flex");
  document.getElementsByTagName("body")[0].classList.remove("flex-column");
  document.getElementsByTagName("body")[0].classList.remove("min-vh-100");
</script>
<!-- SPLIT SCREEN -->
<div class="page-container">

  <div class="panel-container">

    <!-- LEFT PANNEL -->
    <div class="panel-left">
      <div class="container-fluid text-wrap question-md">
        <div id="question-content">
          <%-foundLab[0].labDataHTML%>
        </div>
      </div>
    </div>

    <!-- SPLITTER DIV -->
    <div class="splitter">
    </div>

    <!-- RIGHT PANEL -->
    <div class="panel-right">
        <div id="terminal-tab-div" role="tabpanel" aria-labelledby="terminal-tab"><iframe id="terminal-frame" src="https://<%=foundLab[0].terminal_ip_and_port%>" frameborder="0" allowtransparency="true" allowfullscreen="true" style="min-height: 250px; height: 100%; width: 100%; border: 0px; background-color: transparent;"></iframe></div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
