.Inside-Card .card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
}

.Inside-Card .card h2 {
  margin: 0;
  padding: 0 1rem;
}

.Inside-Card .card .title {
  padding: 1rem;
  text-align: right;
  color: #232672;
  font-weight: bold;
  font-size: 12px;
}

.Inside-Card .card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}

.Inside-Card .card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.Inside-Card .card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.Inside-Card .img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}

.Inside-Card .card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.Inside-Card .title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

.Inside-Card path {
  fill: white;
}

.Inside-Card .img-portada {
  width: 100%;
}

.Inside-Card .portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("/images/background.webp");
  background-position: bottom center;
  background-size: cover;
}

.Inside-Card a {
  border: none;
  background: none;
  font-size: 24px;
  color: #232672;
  cursor: pointer;
  transition: .5s;

  .Inside-Card &:hover {
    color: #232000;
    transform: rotate(22deg)
  }
}
