html {
  margin: 0;
  padding: 0;
}

body {
  height: 92%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
}

label {
  font-size: 1.2em;
  display: block;
  font-weight: bold;
  margin: 30px 0 10px;
}

/* HOME PAGE */
.home-button:hover {
  text-decoration: none;
}

.page-container {
  margin: 0;
}

/* horizontal panel*/
.panel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  padding: 10px;
  width: 30%;
  min-width: 20%;
  overflow: auto;
  max-width: 70%;
  white-space: nowrap;
  background: white;
}

.splitter {
  flex: 0 0 auto;
  width: 10px;
  background: url(/images/slider.webp) center center no-repeat #343a40;
  cursor: col-resize;
}

.panel-right {
  flex: 1 1 auto;
  padding: 10px;
  width: 100%;
  min-width: 200px;
  background: white;
}

/* QUESTIONS SHOW CSS */
.question-md h1 {
  font-size: 2rem;
  margin-top: 4px;
  margin-bottom: 6px;
  font-weight: 600;
}

.question-md h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 6px;
  font-weight: 500;
}

.question-md h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 6px;
  font-weight: 500;
}

.question-md h4 {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 6px;
  font-weight: 600;
}

.question-md summary {
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 6px;
}

.question-md pre {
  background-color: #F8F8F8;
  padding: 15px;
  border-radius: 1px;
}

.question-md ul li {
  list-style-type: disc;
  margin-left: 20px;
}

.question-md ol li {
  list-style-type: lower-roman;
  margin-left: 30px;
}

.question-md p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.question-md img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.question-md a {
  color: red;
}

.question-md details div {
  padding-left: 5%;
  border: 1px solid;
}

/* SIGNUP AND LOGIN PAGE */
.login-and-signup-class .form-control {
  font-size: 16px;
  transition: all 0.4s;
  box-shadow: none;
}

.login-and-signup-class .form-control:focus {
  border-color: #5cb85c;
}

.login-and-signup-class .form-control, .login-and-signup-class .social-btn {
  border-radius: 50px;
  outline: none !important;
}

.login-and-signup-class .signup-form {
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}

@media only screen and (max-width: 600px) {
  .login-and-signup-class .signup-form {
    width: 100%;
  }
}

.login-and-signup-class .signup-form form {
  border-radius: 5px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 40px;
}

.login-and-signup-class .signup-form a {
  color: #5cb85c;
}

.login-and-signup-class .signup-form h2 {
  text-align: center;
  font-size: 34px;
  margin: 10px 0 15px;
}

.login-and-signup-class .signup-form .hint-text {
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}

.login-and-signup-class .signup-form .form-group {
  margin-bottom: 20px;
}

.login-and-signup-class .signup-form .btn {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.login-and-signup-class .signup-btn {
  text-align: center;
  border-color: #5cb85c;
  transition: all 0.4s;
}

.login-and-signup-class .signup-btn:hover {
  background: #5cb85c;
  opacity: 0.8;
}

.login-and-signup-class .or-seperator {
  margin: 50px 0 15px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

.login-and-signup-class .or-seperator b {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}

.login-and-signup-class .social-btn .btn {
  color: #fff;
  margin: 10px 0 0 15px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: normal;
  border: none;
  transition: all 0.4s;
}

.login-and-signup-class .social-btn .btn:first-child {
  margin-left: 0;
}

.login-and-signup-class .social-btn .btn:hover {
  opacity: 0.8;
}

.login-and-signup-class .social-btn .btn-primary {
  background: #507cc0;
}

.login-and-signup-class .social-btn .btn-info {
  background: #64ccf1;
}

.login-and-signup-class .social-btn .btn-danger {
  background: #df4930;
}

.login-and-signup-class .social-btn .btn i {
  float: left;
  margin: 3px 10px;
  font-size: 20px;
}

/* DASHBOARD CSS */
.profile-image {
  max-width: 40%;
  min-width: 20%;
  padding: 5%;
}

/* PACMAN HORIZONAL RULE */
hr.pacman {
  border: 0;
  height: 25px;
  background-image: url('/images/hr.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* RULES MODEL */
.rules-model {
  padding-left: 20px;
  list-style-type: disc;
}

/* PROFILE PAGE */
.circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.profile-form-container {
  width: 550px;
}
@media (max-width: 600px) {
  .profile-form-data-to-hide {
    display: none;
  }
  .profile-form-container {
    width: 100%;
  }
}
